html {
  box-sizing: border-box;
  line-height: 1.5;
  margin: .3em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

ul a:hover {
  background-color: #cc1465;
  font-family: Georgia;
}

ul .current {
  background-color: #cc1465;
}

ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 1.125rem;
}

ul a {
  background-color: #b2a212;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  padding: .75em;
}

header {
  background-color: #ffe500;
  padding: .2em .5em .3em;
}

header h1 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 3rem;
  text-align: center;
}

main h2 {
  font-family: "Sigmar One", cursive;
  color: #b20953;
  font-size: 1.875rem;
  text-align: left;
}

main p {
  font-family: Georgia;
  font-size: 1.125rem;
  color: #2f2d13;
}

footer {
  background-color: #ffe500;
  padding: .75em 0;
  text-align: center;
  font-size: .75rem;
}
